<div class="container">
    <div class="col-xs-12">
        <h3 class="first">Nome</h3>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="utente.nome">
        <span id="text">{{text}}</span>

        <h3 class="first">Cognome</h3>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="utente.cognome">
        <span id="text">{{text}}</span>


        <h3 class="first">Eta</h3>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="utente.eta">
        <span id="text">{{text}}</span>


        <h3 class="first">CodiceFiscale</h3>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="utente.codiceFiscale">
        <span id="text">{{text}}</span>
    </div>
</div>