<div class="container">
    <div class="col-xs-12">
        <label> nome</label>
        <input type="text" #nome>
        <br>
        <label> cognome</label>
        <input type="text" #cognome>
        <br>
        <label> eta </label>
        <input type="text" #eta>
        <br>
        <label> codiceFiscale</label>
        <input type="text" #codiceFiscale>
        <br>



        <button (click)="addUtente({nome:nome.value, cognome: cognome.value, eta: eta.value, codiceFiscale:codiceFiscale.value})" class="btn btn-info">ADD</button>

        <br><br><br>

    </div>
</div>
<router-outlet></router-outlet>